.container {
	width: 50vh;
	height: 50vh;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
	left: 0;
	margin-left: 0px;
	border-bottom-right-radius: 40px;
	position:absolute;
}

.CategoryList {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.CategotyItem {
	font-size: larger;
	font-weight:bold;
}

.CategotyItem:hover {
	color: grey;
}

